Danny Ryan
3/3/2020
Lab07
Naive Bayes

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

In [ ]:
file =  'https://drive.google.com/uc?export=download&id=1jsazLeOrMKG4IJJ6-KpoGmxUdex6qPoJ'
data = pd.read_csv(file)
data.head(15)

             Name  Warm-blooded  Gives Birth  ...  Has Legs  Hibernates        Class
0           human             1            1  ...         1           0      mammals
1          python             0            0  ...         0           1  non-mammals
2          salmon             0            0  ...         0           0  non-mammals
3           whale             1            1  ...         0           0      mammals
4            frog             0            0  ...         1           1  non-mammals
5          komodo             0            0  ...         1           0  non-mammals
6             bat             1            1  ...         1           1      mammals
7          pigeon             1            0  ...         1           0  non-mammals
8             cat             1            1  ...         1           0      mammals
9   leopard shark             0            1  ...         0           0  non-mammals
10         turtle             0            0  ...         1           0  non-mammals
11        penguin             1            0  ...         1           0  non-mammals
12      porcupine             1            1  ...         1           1      mammals
13            eel             0            0  ...         0           0  non-mammals
14     salamander             0            0  ...         1           1  non-mammals

[15 rows x 8 columns]

In [ ]:
1*1*(4/5)*(1/5)*(4/5)*(3/5)*(1/3)

0.025600000000000005

In [ ]:
(2/10)*(1/10)*(3/10)*(1/10)*(6/10)*(7/10)*(2/3)

0.00016800000000000002

I would predict a flying squirrel to be a mammel, as that calculated probability was higher

In [ ]:
ytrain = data['Class']
Xtrain = data[['Aerial Creature','Warm-blooded','Gives Birth','Aquatic Creature','Has Legs','Hibernates']]

In [ ]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(Xtrain, ytrain)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
print('Class names:', clf.classes_)

Class names: ['mammals' 'non-mammals']

In [ ]:
print('Prior probabilties:', clf.class_prior_)

Prior probabilties: [0.33333333 0.66666667]

In [ ]:
print('Class count:' , clf.class_count_)

Class count: [ 5. 10.]

In [ ]:
test_data = [
             ['gila monster',0,0,0,0,1,1, 'non-mammals'],
             ['platypus', 1,0,0,0,1,1,'mammals'],
             ['owl',1,0,0,1,1,0,'non-mammals'],
             ['dolphin',1,1,1,0,0,0, 'mammals']
]

In [ ]:
test_data

In [ ]:
testData= pd.DataFrame(test_data, columns= data.columns)
testData

           Name  Warm-blooded  Gives Birth  ...  Has Legs  Hibernates        Class
0  gila monster             0            0  ...         1           1  non-mammals
1      platypus             1            0  ...         1           1      mammals
2           owl             1            0  ...         1           0  non-mammals
3       dolphin             1            1  ...         0           0      mammals

[4 rows x 8 columns]

In [ ]:
ytest = testData['Class'] 
Xtest = testData[['Aerial Creature','Warm-blooded','Gives Birth','Aquatic Creature','Has Legs','Hibernates']]

In [ ]:
ypred = clf.predict(Xtest)
ypred

array(['non-mammals', 'non-mammals', 'non-mammals', 'mammals'],
      dtype='<U11')

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

     mammals       1.00      0.50      0.67         2
 non-mammals       0.67      1.00      0.80         2

    accuracy                           0.75         4
   macro avg       0.83      0.75      0.73         4
weighted avg       0.83      0.75      0.73         4

Overall, the model had a 75% accurecry rating, meaning that of all the predictions the model made, 75% of them correctly picked the class of the mammal. The platypus was incoreectly picked as a non-mammal. This does make sense, as many of the attributes of the platypus are very similar to those of non-mammals. The other three animals were correctly predicted, which also makes sense as both classes appear to be very homogenous.

In [ ]:
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [ ]:
model = KNeighborsClassifier(n_neighbors=1, metric='euclidean')
model.fit(Xtrain, ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [ ]:
pred = model.predict(Xtest)
accuracy_score(ytest, pred)

1.0